/* style.css*/
* {
  font-family: Roboto, Verdana, Arial, san-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.container.top,
.container.bottom {
  height: 20px;
  /* border: 2px solid MediumVioletRed; */
}

.main {
  height: 480px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 2px solid MediumVioletRed;
}

.display {
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* border: 2px solid MediumVioletRed; */
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.operations.display {
  height: 90%;
  width: 88%;
  /* margin:  */
  border: 1px solid Gainsboro;
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  background: LightGray;
  box-shadow: 5px 5px 5px Silver;
}

.operations.display p {
  text-align: right;
}

.input.keys {
  height: 70%;
  width: 90%;
  margin: auto;
  border: 2px solid MediumVioletRed;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.numbers,
.operators {
  height: 90%;
  /* border: 2px solid MediumVioletRed; */
}

.numbers.container,
.operators.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.numbers.container {
  width: 60%;
}

.operators.container {
  width: 30%;
  margin-right: 10px;
}

.numbers.row,
.operators.row {
  height: 20%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* .button:hover { */
/*   background-color: #3e8e41; */
/* } */
/**/
/* .button:active { */
/*   background-color: #3e8e41; */
/*   box-shadow: 0 5px #666; */
/*   transform: translateY(4px); */
/* } */
/**/
.button {
  display: flex;
  flex-direction: row;
  height: 90%;
  /* border: 2px solid MediumVioletRed; */
  align-items: center;
  justify-content: center;
  /* border-radius: 3px; */
  /* box-shadow: 0 9px #999; */
}

.numbers.button {
  width: 30%;
}

.operators.button {
  width: 45%;
}

button {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
