/* style.css*/
* {
  font-family: Roboto, Verdana, Arial, san-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.container.top,
.container.bottom {
  height: 20px;
  /* border: 2px solid MediumVioletRed; */
}

.main {
  height: 480px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 8px solid DarkSlateGray;
  border-style: outset;
  border-radius: 8px;
}

.display {
  height: 20%;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

.operations.display {
  height: 90%;
  width: 88%;
  padding-right: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 5px solid Gainsboro;
  font-size: 28px;
  font-weight: 900;
  text-align: right;
  background: LightGray;
  /* box-shadow: 5px 5px 5px Silver; */
  border-style: inset;
  text-shadow: 2px 2px 5px #1c1c2e;
}

.operations .display p {
  text-align: right;
  margin: auto;
}

.input.keys {
  height: 70%;
  width: 90%;
  margin: auto;
  border: 5px solid Gainsboro;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-style: outset;
}

.numbers,
.operators {
  height: 90%;
  /* border: 2px solid MediumVioletRed; */
}

.numbers.container,
.operators.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.numbers.container {
  width: 60%;
}

.operators.container {
  width: 30%;
  margin-right: 10px;
}

.numbers.row,
.operators.row {
  height: 20%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  height: 90%;
  /* border: 2px solid MediumVioletRed; */
  align-items: center;
  justify-content: center;
  /* border-radius: 3px; */
  /* box-shadow: 0 9px #999; */
}

.numbers.button {
  width: 30%;
}

.operators.button {
  width: 45%;
}

button {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  /* button styling
   *   src:  https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_animate3
   **/
  /* https://www.geeksforgeeks.org/css/how-to-create-embossed-text-effect-using-css/
   **/
  text-shadow:
    -2px 2px 4px rgba(0, 0, 0, 0.8),
    2px -2px 3px rgba(255, 255, 255, 0.4);
  display: inline-block;
  outline: none;
  /* color: #f2f2f3; */
  color: #dadadd;
  background-color: #1e1e24;
  background-color: #606069;
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px #999;
}

button:hover {
  /* background-color: #3e8e41; */
  background-color: #434352;
}

button:active {
  /* background-color: #3e8e41; */
  background-color: #3c3c57;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.operators.button.equals {
  width: 100%;
}

#equals {
  width: 100%;
}
